<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Contact Me</h1>
    <a href="#">LinkedIn</a>
    <a href="./resume.html">Back to resume</a>
    <hr>
    <!-- mail filled form to this mail id -->
    <form action="mailto:vridhinahata9@gmail.com">
        <label for="name">Full Name: </label>
        <input type="text" required><br>
        <label for="name">Email: </label>
        <input type="email" required><br>
        <label for="name">Message: </label>
        <textarea name="" id=""></textarea> <br>
        <input type="submit">   
    </form>

</body>
</html>