<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta>
    <title>Document</title>
</head>
<body>
    <h1>Vridhi Nahata</h1>
    <h3>Full Stack Web developer</h3>
    <p>Passionate about implementing new projects</p>
    <hr>
    <h2>Experience</h2>
    <ul>
        <li>Skillected</li>
        <ul>
            <li>Technical Head</li>
            <li>Pune</li>
        </ul>
        <li>Infosys</li>
        <ul>
            <li>Technical training</li>
            <li>Indore</li>
        </ul>

    </ul>
    <hr>
    <h2>Education</h2>
    <ul>
        <li>Master of Computer Application</li>
        <ul>
            <a href="www.manit.ac.in" target="_blank"><li>Maulana Azad National Institute of Technology</li></a>
            <li>Bhopal</li>
        </ul>
        <li>Bachelor of Computer Application</li>
        <ul>
            <a href="www.gdcr.ac.in" target="_blank"><li>Govt. Digvijay Autonomous P.G. College</li></a>
            <li>Rajnandgaon</li>
        </ul>
    </ul>
    <hr>
    <h2>Skills</h2>
    <table cellspacing="15">
        <tr>
            <td>Node.js</td>
            <td>React.js</td>
            <td>MongoDB</td>
        </tr>
        <tr>
            <td>JavaScript</td>
            <td>CSS</td>
            <td>HTML</td>
        </tr>
    </table>
    <hr>
    <!-- add links to project -->
    <h2>Projects</h2>       
    <ul>
        <li>Nasa SpaceX</li>
        <ul>
            <li>Node.js, React.js</li>
        </ul>
        <li>Tindog</li>
        <ul>
            <li>HTML, CSS, JavaScript</li>
        </ul>
    </ul>
    <hr>

    <a href="./contact.html">Contact Me</a>
</body>
</html>